'fileTypes': [
  'asm'
  's'
]
'name': 'PIC Assembly'
'patterns': [
  {
    'match': '.*[;#].*$'
    'name': 'comment.line'
  }
  {
    'begin': '^\\s*[\\#%]\\s*if\\s+0\\b'
    'end': '^\\s*[\\#%]\\s*endif\\b'
    'name': 'comment.preprocessor'
  }
  {
    'begin': '/\\*'
    'end': '\\*/'
    'name': 'comment.block'
  }
  {
    'match': '(?i)\\b(dword|qword|tword|db|dw|dd|dq|dt|do|dy|resb|resw|resd|resq|rest|reso|resy|incbin|equ|times)\\b'
    'name': 'support.type.asm'
  }
  {
    'match': '\\.(data|bss|text)$'
    'name': 'string.section'
  }
  {
    'begin': '"'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.asm'
    'end': '"'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.asm'
    'name': 'string.quoted.asm'
    'patterns': [
      {
        'include': '#string_escaped_char'
      }
      {
        'include': '#string_placeholder'
      }
    ]
  }
  {
    'begin': '\''
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.c'
    'end': '\''
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.c'
    'name': 'string.quoted.single.c'
    'patterns': [
      {
        'include': '#string_escaped_char'
      }
    ]
  }
  {
    'begin': '^\\s*[#%]\\s*(error|warning)\\b'
    'captures':
      '1':
        'name': 'keyword.control.import.error.c'
    'end': '$'
    'name': 'meta.preprocessor.diagnostic.c'
    'patterns': [
      {
        'match': '(?>\\\\\\s*\\n)'
        'name': 'punctuation.separator.continuation.c'
      }
    ]
  }
  {
    'begin': '^\\s*[#%]\\s*(include|import)\\b\\s+'
    'captures':
      '1':
        'name': 'keyword.control.import.include.c'
    'end': '(?=(?://|/\\*))|$'
    'name': 'meta.preprocessor.c.include'
    'patterns': [
      {
        'match': '(?>\\\\\\s*\\n)'
        'name': 'punctuation.separator.continuation.c'
      }
      {
        'begin': '"'
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.string.begin.c'
        'end': '"'
        'endCaptures':
          '0':
            'name': 'punctuation.definition.string.end.c'
        'name': 'string.quoted.double.include.c'
      }
      {
        'begin': '<'
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.string.begin.c'
        'end': '>'
        'endCaptures':
          '0':
            'name': 'punctuation.definition.string.end.c'
        'name': 'string.quoted.other.lt-gt.include.c'
      }
    ]
  }
  {
    'begin': '^\\s*[%#]\\s*(define|defined|elif|else|if|ifdef|ifndef|line|pragma|undef|endif)\\b'
    'captures':
      '1':
        'name': 'keyword.control.import.c'
    'end': '(?=(?://|/\\*))|$'
    'name': 'meta.preprocessor.c'
    'patterns': [
      {
        'match': '(?>\\\\\\s*\\n)'
        'name': 'punctuation.separator.continuation.c'
      }
    ]
  }
  {
    'match': '\\b(addwf|addlw|andlw|andwf|bcf|bsf|btfsc|btfss|call|clrf|clrw|clrwdt|comf|decf|decfsz|goto|incf|incfsz|iorlw|iorwf|movf|movlw|movwf|nop|retfie|retlw|return|rlf|rrf|sleep|sublw|subwf|swapf|xorlw|xorwf|)?\\b'
    'name': 'keyword.mnemonic'
  }
  {
    'match': '\\b%?(w|f)+\\b'
    'name': 'storage.register'
  }
  {
    'match': '^\\s*\\.?\\w+:\\s*(?=$|;)'
    'name': 'entity.name.label'
  }
  {
    'match': '\\$(0[bx])?[0-9a-fA-F]+\\b'
    'name': 'constant.numeric.literal'
  }
  {
    'match': '\\b[0-9]+\\b'
    'name': 'constant.numeric.dec'
  }
  {
    'match': '\\b([0-9a-fA-F]+h?|0x[0-9a-fA-F]+)\\b'
    'name': 'constant.numeric.hex'
  }
  {
    'match': '^global|.(align|asci|asciz|byte|comm|data|double|eject|else|endef|endif|equ|equiv|err|extern|file|fill|float|globl|global|hword|ident|if|include|linkonece|list|long|macro|mri|nolist|octa|org|psize|quad|rept|section|set|short|single|size|skip|space|string|tag|type|val|word)\\b'
    'name': 'entity.directive'
  }
  {
      'match': '\\+|-'
      'name': 'keyword.operator.artihmetic'
  }
]
'scopeName': 'source.asm.pic'
